## BLM442 Keşif aktivitesi-2: SQLite üzerinde veri analizi

#### İsim/Soyisim: Houssem MENHOUR
#### Öğrenci Numarası: 140201115
#### E-mail: husmen93@gmail.com
#### Kullanılan dataset adı: The Economic Freedom Index
#### Dataset url: https://www.kaggle.com/lewisduncan93/the-economic-freedom-index

#### İntihal: 
Netten alınacak kısmi kod parçaları önceden kod içinde/raporda belirtilmek ve soru sorulduğunda cevaplanması durumunda sıkıntı çıkarmayacaktır. (i) Internet kaynağını belirtmeyen/açıklayamayan/üzerinde geliştirme yapmayan veya (ii) birbirleriyle benzer/aynı çalışma teslim edenlerin aktiviteleri sıfır üzerinden değerlendirilecektir.

#### KA-2 Gönderim şekli

1-pdf olarak "ogrenciNo.pdf" dokumanını gonderme
-calisma dosyasında (File -> Print Preview) sonrası olusan html dosyasını yazdır deyip pdf olarak kaydetme veya
-(File -> Download as -> HTML) seklinde indirip pdf'e cevirme http://html2pdf.com/

2-(File -> Download as -> Notebook) indirip "ogrenciNo.ipynb" dokumanını gonderme

suleyman.eken@kocaeli.edu.tr

Problemlerinizin SELECT, WHERE, ORDER BY, SELECT TOP, LIKE, IN, BETWEEN, AS, INTERSECT, GROUP BY, HAVING, COUNT(), MIN() and MAX(), AVG(), SUM(), INNER JOIN, RIGHT (OUTER) JOIN, LEFT (OUTER) JOIN vs. keyword'lerinden birkaçını içermesini sağlayınız.

#### Problem 1: veriseti import edin

In [1]:
.mode csv
.import economic_freedom_index2019_data.csv EFI
.import ORCID_migrations_2016_12_16_by_person.csv ORCID
.mode columns
.headers on

#### Problem 2: mevcut bolegeleri goster

In [2]:
select distinct Region from EFI;

Region
------------
Asia-Pacific
Europe
Middle East
Sub-Saharan
Americas

#### Problem 3: ulkeleri 2019 Score gore sirala

In [3]:
select WEBNAME, "2019 Score" from EFI order by "2019 Score" DESC;

WEBNAME     2019 Score
----------  ----------
Iraq        N/A
Libya       N/A
Liechtenst  N/A
Somalia     N/A
Syria       N/A
Yemen       N/A
HongKong    90.2
Singapore   89.4
NewZealand  84.4
Switzerlan  81.9
Australia   80.9
Ireland     80.5
UnitedKing  78.9
Canada      77.7
UnitedArab  77.6
Taiwan      77.3
Iceland     77.1
Netherland  76.8
UnitedStat  76.8
Denmark     76.7
Estonia     76.6
Georgia     75.9
Luxembourg  75.9
Chile       75.4
Sweden      75.2
Finland     74.9
Lithuania   74.2
Malaysia    74.0
CzechRepub  73.7
Germany     73.5
Mauritius   73.0
Norway      73.0
Israel      72.8
Qatar       72.6
SouthKorea  72.3
Japan       72.1
Austria     72.0
Macedonia   71.1
Rwanda      71.1
Macau       71.0
Latvia      70.4
Botswana    69.5
Bulgaria    69.0
SaintLucia  68.7
Jamaica     68.6
Malta       68.6
Romania     68.6
Uruguay     68.6
Thailand    68.3
Cyprus      68.1
Peru        67.8
Poland      67.8
Armenia     67.7
Belgium     67.3
Colombia    67.3
Panama      67.2
Kosovo      67.0
Albania     66.5
Jordan      66.5
Bahrain     66.4
Indonesia   65.8
SaintVince  65.8
Spain       65.7
Slovenia    65.5
Azerbaijan  65.4
Kazakhstan  65.4
CostaRica   65.3
Portugal    65.3
Brunei      65.1
Hungary     65.0
Slovakia    65.0
Barbados    64.7
Mexico      64.7
Turkey      64.6
Serbia      63.9
France      63.8
Philippine  63.8
Dominica    63.6
CaboVerde   63.1
Bahamas     62.9
Bhutan      62.9
Morocco     62.9
Guatemala   62.6
CoeDivoire  62.4
KyrgyzRepu  62.3
Fiji        62.2
Italy       62.2
Samoa       62.2
BosniaHerz  61.9
ElSalvador  61.8
Paraguay    61.8
Croatia     61.4
Seychelles  61.4
DominicanR  61.0
Oman        61.0
Kuwait      60.8
SaudiArabi  60.7
Montenegro  60.5
Honduras    60.2
Tanzania    60.2
Uganda      59.7
BurkinaFas  59.4
Moldova     59.1
Russia      58.9
Namibia     58.7
China       58.4
PapuaNewGu  58.4
SouthAfric  58.3
Mali        58.1
Belarus     57.9
Cambodia    57.8
Greece      57.7
Nicaragua   57.7
Tonga       57.7
Ghana       57.5
Laos        57.4
Nigeria     57.3
TrinidadTo  57.0
Guyana      56.8
Madagascar  56.6
SriLanka    56.4
Vanuatu     56.4
Gabon       56.3
Senegal     56.3
Guinea      55.7
Mauritania  55.7
Bangladesh  55.6
Tajikistan  55.6
Belize      55.4
Comoros     55.4
Mongolia    55.4
Tunisia     55.4
Benin       55.3
Vietnam     55.3
India       55.2
Kenya       55.1
Pakistan    55.0
Eswatini    54.7
SolomonIsl  54.6
GuineaBiss  54.0
SaoTomePri  54.0
Nepal       53.8
Burma       53.6
Ethiopia    53.6
Zambia      53.6
Uzbekistan  53.3
Maldives    53.2
Lesotho     53.1
Haiti       52.7
Egypt       52.5
Cameroon    52.4
Gambia      52.4
Ukraine     52.3
Argentina   52.2
Brazil      51.9
Micronesia  51.9
Niger       51.6
Afghanista  51.5
Malawi      51.4
Iran        51.1
Lebanon     51.1
Angola      50.6
Demcoratic  50.3
Togo        50.3
NorthKorea  5.9
Chad        49.9
Liberia     49.7
CentralAfr  49.1
Burundi     48.9
Mozambique  48.6
Turkmenist  48.4
Suriname    48.1
Sudan       47.7
SierraLeon  47.5
Kiribati    47.3
Djibouti    47.1
Ecuador     46.9
Algeria     46.2
TimorLeste  44.2
Bolivia     42.3
Equatorial  41.0
Zimbabwe    40.4
RepublicCo  39.7
Eritrea     38.9
Cuba        27.8
Venezuela   25.9

#### Problem 4: Europe bolgede toplam GDP

In [4]:
select SUM(CAST(REPLACE(REPLACE(IFNULL("GDP (Billions, PPP)",0),',',''),'$','') AS DECIMAL(10,2))) as "GDP (B$)"
from EFI 
where Region="Europe";

GDP (B$)
----------
28968.4

#### Problem 5: Europe bolgede ortalam GDP/Capita

In [5]:
select AVG(CAST(REPLACE(REPLACE(IFNULL("GDP per Capita (PPP)",0),',',''),'$','') AS DECIMAL(10,2))) as "GDP/Capita ($)"
from EFI 
where Region="Europe";

GDP/Capita ($)
----------------
37101.9777777778

#### Problem 6: acıklaması eklenecek, cozumu alt kutuda kod cıktısı ile beraber bulunacak

In [6]:
Select Region, SUM("Population (Millions)") from EFI group by Region

Region      SUM("Population (Millions)")
----------  ----------------------------
Americas    993.9
Asia-Pacif  4158.9
Europe      866.5
Middle Eas  433.3
Sub-Sahara  1014.5

#### Problem 7: GDP/Capita gore ilk 10 ulke goster

In [7]:
Select WEBNAME, CAST(REPLACE(REPLACE(IFNULL("GDP per Capita (PPP)",0),',',''),'$','') AS DECIMAL(10,2)) as "GDP/Capita ($)" 
from EFI
order by "GDP/Capita ($)" DESC
limit 10;

WEBNAME        GDP/Capita ($)
-------------  --------------
Liechtenstein  139100
Qatar          124529
Macau          111629
Luxembourg     106374
Singapore      93906
Brunei         78196
Ireland        75538
Norway         71831
UnitedArabEmi  67741
Kuwait         66163

#### Problem 8: GDP/Capita gore son 10 ulke goster

In [8]:
SELECT WEBNAME, CAST(REPLACE(REPLACE(IFNULL("GDP per Capita (PPP)",0),',',''),'$','') AS DECIMAL(10,2)) as "GDP/Capita ($)" 
from EFI
order by "GDP/Capita ($)" ASC
limit 10;

WEBNAME     GDP/Capita ($)
----------  --------------
Somalia     0
Syria       0
CentralAfr  677
Burundi     735
Demcoratic  790
Niger       1164
Malawi      1167
Mozambique  1244
Yemen       1287
Liberia     1354

#### Problem 9: en az 100 nufus olan ulkeleri GDP ve 2019 Score goster

In [9]:
Select WEBNAME, "2019 Score", "GDP per Capita (PPP)", "Population (Millions)" from EFI
where "Population (Millions)" > cast(100 as dec) and "Population (Millions)" not like "%ppl%";

WEBNAME     2019 Score  GDP per Capita (PPP)  Population (Millions)
----------  ----------  --------------------  ---------------------
Bangladesh  55.6        $4,211                163.2
Brazil      51.9        $15,603               207.7
China       58.4        $16,660               1390.1
India       55.2        $7,183                1316.9
Indonesia   65.8        $12,377               262.0
Japan       72.1        $42,832               126.7
Mexico      64.7        $19,903               123.5
Nigeria     57.3        $5,929                188.7
Pakistan    55.0        $5,358                197.3
Philippine  63.8        $8,315                105.3
Russia      58.9        $27,834               144.0
UnitedStat  76.8        $59,501               325.9

#### Problem 10: gov integrity gore ve score ilk 50 ulke INNER JOIN

In [10]:
SELECT t1.WEBNAME, t1.Score from (select WEBNAME, "2019 Score" as Score from EFI order by "2019 Score" DESC limit 50) t1
INNER JOIN
(SELECT WEBNAME, "Government Integrity" from EFI order by "Government Integrity" DESC limit 50) t2
on t1.WEBNAME = t2.WEBNAME
group by t1.WEBNAME

WEBNAME     Score
----------  ----------
Australia   80.9
Austria     72.0
Botswana    69.5
Canada      77.7
Chile       75.4
CzechRepub  73.7
Denmark     76.7
Estonia     76.6
Finland     74.9
Georgia     75.9
Germany     73.5
HongKong    90.2
Iceland     77.1
Ireland     80.5
Israel      72.8
Japan       72.1
Liechtenst  N/A
Luxembourg  75.9
Malaysia    74.0
Malta       68.6
Netherland  76.8
NewZealand  84.4
Norway      73.0
Qatar       72.6
Rwanda      71.1
Singapore   89.4
Somalia     N/A
SouthKorea  72.3
Sweden      75.2
Switzerlan  81.9
Taiwan      77.3
UnitedArab  77.6
UnitedKing  78.9
UnitedStat  76.8
Uruguay     68.6

#### Problem 11: GDP ve Score gore ilk 50 ulke LEFT JOIN

In [11]:
SELECT t1.WEBNAME, t1.Score from (select WEBNAME, "2019 Score" as Score from EFI order by "2019 Score" DESC limit 50) t1
LEFT JOIN
(SELECT WEBNAME, "Government Integrity" from EFI order by "Government Integrity" DESC limit 50) t2
on t1.WEBNAME = t2.WEBNAME
group by t1.WEBNAME

WEBNAME     Score
----------  ----------
Australia   80.9
Austria     72.0
Botswana    69.5
Bulgaria    69.0
Canada      77.7
Chile       75.4
Cyprus      68.1
CzechRepub  73.7
Denmark     76.7
Estonia     76.6
Finland     74.9
Georgia     75.9
Germany     73.5
HongKong    90.2
Iceland     77.1
Iraq        N/A
Ireland     80.5
Israel      72.8
Jamaica     68.6
Japan       72.1
Latvia      70.4
Libya       N/A
Liechtenst  N/A
Lithuania   74.2
Luxembourg  75.9
Macau       71.0
Macedonia   71.1
Malaysia    74.0
Malta       68.6
Mauritius   73.0
Netherland  76.8
NewZealand  84.4
Norway      73.0
Qatar       72.6
Romania     68.6
Rwanda      71.1
SaintLucia  68.7
Singapore   89.4
Somalia     N/A
SouthKorea  72.3
Sweden      75.2
Switzerlan  81.9
Syria       N/A
Taiwan      77.3
Thailand    68.3
UnitedArab  77.6
UnitedKing  78.9
UnitedStat  76.8
Uruguay     68.6
Yemen       N/A

#### Problem 12: GDP ve Score gore ilk 50 ulke INNER JOIN

In [12]:
SELECT t1.WEBNAME, t1.Score, t1."GDP/Capita ($)" from (select WEBNAME, "2019 Score" as Score, CAST(REPLACE(REPLACE(IFNULL("GDP per Capita (PPP)",0),',',''),'$','') AS DECIMAL(10,2)) as "GDP/Capita ($)" from EFI order by "2019 Score" DESC limit 50) t1
INNER JOIN
(SELECT WEBNAME, CAST(REPLACE(REPLACE(IFNULL("GDP per Capita (PPP)",0),',',''),'$','') AS DECIMAL(10,2)) as "GDP/Capita ($)" from EFI order by "GDP/Capita ($)" DESC limit 50) t2
on t1.WEBNAME = t2.WEBNAME
group by t1.WEBNAME

WEBNAME     Score       GDP/Capita ($)
----------  ----------  --------------
Australia   80.9        50334
Austria     72.0        49869
Canada      77.7        48265
Cyprus      68.1        37023
CzechRepub  73.7        35512
Denmark     76.7        49883
Estonia     76.6        31750
Finland     74.9        44333
Germany     73.5        50425
HongKong    90.2        61393
Iceland     77.1        51842
Ireland     80.5        75538
Israel      72.8        36340
Japan       72.1        42832
Liechtenst  N/A         139100
Lithuania   74.2        32299
Luxembourg  75.9        106374
Macau       71.0        111629
Malaysia    74.0        29041
Malta       68.6        41945
Netherland  76.8        53635
NewZealand  84.4        38934
Norway      73.0        71831
Qatar       72.6        124529
Singapore   89.4        93906
SouthKorea  72.3        39434
Sweden      75.2        51475
Switzerlan  81.9        61422
Taiwan      77.3        50294
UnitedArab  77.6        67741
UnitedKing  78.9        44118
UnitedStat  76.8        59501

#### Problem 13: Financial Freedom ve score gore ilk 50 ulke LEFT JOIN

In [13]:
SELECT t1.WEBNAME, t1.Score, t1."GDP/Capita ($)" from (select WEBNAME, "2019 Score" as Score, CAST(REPLACE(REPLACE(IFNULL("GDP per Capita (PPP)",0),',',''),'$','') AS DECIMAL(10,2)) as "GDP/Capita ($)" from EFI order by "2019 Score" DESC limit 50) t1
INNER JOIN
(SELECT WEBNAME, CAST(REPLACE(REPLACE(IFNULL("GDP per Capita (PPP)",0),',',''),'$','') AS DECIMAL(10,2)) as "GDP/Capita ($)" from EFI order by "GDP/Capita ($)" DESC limit 50) t2
on t1.WEBNAME = t2.WEBNAME
group by t1.WEBNAME

WEBNAME     Score       GDP/Capita ($)
----------  ----------  --------------
Australia   80.9        50334
Austria     72.0        49869
Canada      77.7        48265
Cyprus      68.1        37023
CzechRepub  73.7        35512
Denmark     76.7        49883
Estonia     76.6        31750
Finland     74.9        44333
Germany     73.5        50425
HongKong    90.2        61393
Iceland     77.1        51842
Ireland     80.5        75538
Israel      72.8        36340
Japan       72.1        42832
Liechtenst  N/A         139100
Lithuania   74.2        32299
Luxembourg  75.9        106374
Macau       71.0        111629
Malaysia    74.0        29041
Malta       68.6        41945
Netherland  76.8        53635
NewZealand  84.4        38934
Norway      73.0        71831
Qatar       72.6        124529
Singapore   89.4        93906
SouthKorea  72.3        39434
Sweden      75.2        51475
Switzerlan  81.9        61422
Taiwan      77.3        50294
UnitedArab  77.6        67741
UnitedKing  78.9        44118
UnitedStat  76.8        59501

#### Problem 14: gov integrity gore ve GDP ilk 50 ulke INNER JOIN

In [14]:
SELECT t1.WEBNAME, t1.Score, t1."Financial Freedom" from (select WEBNAME, "2019 Score" as Score, "Financial Freedom" from EFI order by "2019 Score" DESC limit 50) t1
INNER JOIN
(SELECT WEBNAME, "Financial Freedom" from EFI order by "GDP/Capita ($)" DESC limit 50) t2
on t1.WEBNAME = t2.WEBNAME
group by t1.WEBNAME

WEBNAME     Score       Financial Freedom
----------  ----------  -----------------
Australia   80.9        90
Austria     72.0        70
Botswana    69.5        70
Bulgaria    69.0        60
Canada      77.7        80
Chile       75.4        70
Cyprus      68.1        60
CzechRepub  73.7        80
Denmark     76.7        80

#### Problem 15: Financial Freedom ve score gore ilk 50 ulke LEFT JOIN

In [15]:
SELECT t1.WEBNAME, t1.Score, t1."Financial Freedom" from (select WEBNAME, "2019 Score" as Score, "Financial Freedom" from EFI order by "2019 Score" DESC limit 50) t1
LEFT JOIN
(SELECT WEBNAME, "Financial Freedom" from EFI order by "GDP/Capita ($)" DESC limit 50) t2
on t1.WEBNAME = t2.WEBNAME
group by t1.WEBNAME

WEBNAME     Score       Financial Freedom
----------  ----------  -----------------
Australia   80.9        90
Austria     72.0        70
Botswana    69.5        70
Bulgaria    69.0        60
Canada      77.7        80
Chile       75.4        70
Cyprus      68.1        60
CzechRepub  73.7        80
Denmark     76.7        80
Estonia     76.6        70
Finland     74.9        80
Georgia     75.9        70
Germany     73.5        70
HongKong    90.2        90
Iceland     77.1        70
Iraq        N/A         N/A
Ireland     80.5        70
Israel      72.8        70
Jamaica     68.6        50
Japan       72.1        60
Latvia      70.4        60
Libya       N/A         N/A
Liechtenst  N/A         80
Lithuania   74.2        70
Luxembourg  75.9        80
Macau       71.0        70
Macedonia   71.1        60
Malaysia    74.0        50
Malta       68.6        60
Mauritius   73.0        70
Netherland  76.8        80
NewZealand  84.4        80
Norway      73.0        60
Qatar       72.6        60
Romania     68.6        50
Rwanda      71.1        40
SaintLucia  68.7        40
Singapore   89.4        80
Somalia     N/A         N/A
SouthKorea  72.3        70
Sweden      75.2        80
Switzerlan  81.9        90
Syria       N/A         N/A
Taiwan      77.3        60
Thailand    68.3        60
UnitedArab  77.6        60
UnitedKing  78.9        80
UnitedStat  76.8        80
Uruguay     68.6        30
Yemen       N/A         N/A